.menu {
    display: flex;
}

.menu_button {
    align-self: center;
    width: 20px;
    height: 20px;
    background-color: blueviolet;
}

.menu_links {
    width: 330px;
}

.unvisible {
    transition: 1s;
    transform: translateX(-330px);
}

.visible {
    transition: 1s;
    transform: translateX(0);
}

.span_link {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    color: blueviolet;
}


.active {
    text-decoration: none;
    color: chartreuse;
}
