.greeting {
    padding: 30px 10px;
    background-color: rgba(252,210,248,0.95);
}

.someClass {
    outline: none;
}

.error {
    border: 2px solid blueviolet;
    outline: none;
}

button,
input{
    display: inline-block;
    padding: 5px 10px;
    margin: 0 10px;
    border: none;
    color: blueviolet;
}

span {
    font-weight: bold;
    font-size: 20px;
    color: blueviolet;
}

p {
    color: blueviolet;
    font-weight: bold;
    margin-top: 2px;
}
